body{
    background-color: hsl(212, 45%, 89%);
    
}
section{
    height: 97vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    /* border: 1px red solid; */
    width: 20%;
    height: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    border-radius: 22px;
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    position: relative;
}

img{
    width: 90%;
    height: 60%;
    border-radius: 22px;
    margin-top: 3%;
}

.caption{
    font-size: 1.3rem;
    font-weight: 700;
    /* border: 1px solid red; */
    padding: 0px 20px ;
    margin-bottom: 1%;
    color:  hsl(218, 44%, 22%);
    
}

.text{
    /* border: 1px solid red; */
    font-size: .93rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 0px 20px;
    margin-bottom: 5%;
}

@media (max-width:376px) {
    .card{
        width: 70%;
    }
    .caption{
        font-size: 1.2rem;
    }
    .text{
        font-size: 0.9rem
    }
}

@media (width:1440px){
    .card{
        width: 30%
    }
    .caption{
        font-size: 1.82rem;
    }
    .text{
        font-size: 1.36rem
    }
}